* {
    box-sizing: border-box;
    margin: 0%;
    border: 0;
}

body {
    font-family: 'Open Sans';
    line-height: 1.65;
    font-size: 1.2rem;
    color: #393d41;
}

header {
    background-color: black;
}

.container {
    height: 100vh;
    width: 100vw;
}

.logo img {
    padding: 30px;
    width: 250px;

}

h1,
h3 {
    color: #25a2c3;
    line-height: 1.5;
    font-family: 'Montserrat';
    font-weight: bold;
}

.anchor-section {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    padding: 20px;
}

.anchor-box {
    padding: 80px;
}

.title-anchor {
    text-align: center;
    padding: 30px;
}

.title-anchor p {
    margin-bottom: 20px;
    margin-top: 5px;
}

.anchor-section .button {
    background-color: #f04c2f;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.anchor-section .button {
    text-decoration: none;
    color: white;
}

.description {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 60PX;
}

.description-box {
    padding: 60px;
}

.description-item {
    margin-bottom: 10px;
}
.circle-image {
    display: inline-block;
    width: 55%;
}

.description-list {
    display: inline-block;
    width: 44%;
}

.circle-image img {
    border-radius: 50%;
    width: 400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.testimony {
    background-color: #e22d0e;
    color: white;
    text-align: center;
    padding: 60px;
    margin-bottom: 10px;
}

.testimony blockquote p:last-child {
    font-size: 13px;
    margin-bottom: 10px;
}

.card {
    border: 1px solid #dee1e3;
    border-radius: 5px;
    margin-bottom: 30px;
    display: inline-block;
    width: 30%;
}

.card:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}

.card-image img {
    width: 100%;
    height: 200px;
}

.card-list {
    padding: 100px;
    text-align: center;
}

.card-text {
    padding: 10px;
}

footer {
    text-align: center;
    background-color: #25a2c3;
    color: white;
    padding: 20px;
}

#info {
    margin-bottom: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#info h1 {
    color: white;
}

.info-link {
    text-align: left; 
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.info-link a {
    display: block;
    color: white;
    font-size: 13px;
}

.info-link a:last-child {
    text-decoration: none;
}

.credits a {
    color: white;
}

.credits {
    font-size: 12px;
    margin-top: 10px;
}

i {
    margin: 5px;
}